<!DOCTYPE html>
<html>

<head>
    <title>
        Paystub Companion - Create Employee
    </title>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <h1>Paystub Companion</h1>
    <h3>Your solution to quickly and effectively sending out paystubs to the employees in your buisness</h3>
    <br>
    <form method='POST'>
        <input type="text" placeholder="Employee Name" name="name">
        <br>
        <input type="text" placeholder='Position' name='position'>
        <br>
        <input type="number" step="0.01" min='0' placeholder='Income YTD' name='income-YTD'>
        <br>
        <input type="number" step="0.01" min='0' placeholder='Taxes YTD' name='taxes-YTD'>
        <br>
        <input type="submit" value='Submit'>
    </form>
</body>

</html>
